.feature-title {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 74px;
  margin-bottom: 44px;
}

.feature-product-container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.product-container {
  background-color: #f0eeed;
  width: 260px;
  height: 287px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.sale-tag {
  position: absolute;
  top: 35px;
  right: -1px;
  background-color: #f15a2a;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}
.sale-tag-bottom {
  position: absolute;
  top: 56px;
  right: 0px;
}
.favourite-tag {
  position: absolute;
  top: 35px;
}

.product-details-container {
  margin-top: 15px;
}
.product-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 14px;
}
.product-title {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 14px;
}
.product-price {
  color: #000;
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.discount-price {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: line-through;
}
.feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 156px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.rating {
  color: gold;
}

.section-container {
  position: relative;

  .navigation_buttons {
    button {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: $white;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      box-shadow: -1px 1px 19px -1px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: -1px 1px 19px -1px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -1px 1px 19px -1px rgba(0, 0, 0, 0.35);
    }

    #featured_next_el {
      left: -10px;
      z-index: 20;
    }

    #featured_prev_el {

      right: -10px;
      z-index: 20;
    }
  }

}
