.header-bg {
  background-color: $bg_dark;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    .header_items {
      display: flex;
      align-items: center;
      gap: 55px;
      color: white;

      .input_header {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
        width: 354px;
        height: 42px;
        padding: 10px 14px;
      }
    }
  }
}
