* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./common/variables";


// componets

@import "./components/header";
@import "./components/navbar";
@import "./components/banner";
@import "./components/featuredProducts";
