$primary_color: #4285F4;
$primary_light: #4285F40D;
$primary_hover_color: #3480fc;
$light_gray: #F7F8FA;
$light_gray_2: #5a6577;
$dark_gray: #333333;
$white: #FFF;
$Off_white: #FFFFFFCC;
$separator: #e6e8eb;
$border_light: #e0e0e0;
$border_dark: #ffffff21;
$bg_light_dark: #FFFFFF1A;
$border_light_blue: #4285F40D;
$red: #FF3333;
$dark_orange: #F15A2A;
$light_red: #FF33331A;

$text_black: #0C0C14;
$text_gray: #5C5958;

$bg_dark: #1E1C1C;
$bg_gray: #F0EEED;

$box_shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);